html, body {
    height: 100%;
}
body {
    margin: 0;
	padding: 0;
}

header{
	background: LavenderBlush;
	height: 100px;
	position: sticky;
    top: 0%;
    z-index: 1;
}

footer{
    text-align: center;
    padding: 2em 0;
}

.nav-area{
	float: right;
	list-style: none;
}

.nav-area ul{
    padding: 0;
}

.nav-area li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-area li a{
	color: #545454;
	text-decoration: none;
    font-family: Montserrat;
	font-size: 14px;
	transition: all ease-in-out 250ms;
}

.nav-area li a:hover{
	color: #a9a9a9;
	border-radius: 3px;
}

.logo{
	padding: 15px;
}

.logo img{
	width: 70px;
	float: left;
	height: auto;
}

section{
	padding: 50px;
}

#home {
    background: url(images/loggerheadbg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
    position: relative;
    text-align: center;
    color: white;
}

#home div{
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    top:0;
    bottom:0;
    padding: 100px;
}

#home h1 {
    padding: 0;
    margin: 0;
    font-size: 120px;
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;
}

#home h3 {
    font-size: 30px;
    text-align: right;
    padding-right: 20vw;
    font-family: 'Oxygen', sans-serif;
}

#about {
    background-color: cornsilk;
    text-align: center;
    font-family: montserrat;
}

#mission {
    background: url(images/turtlebackground.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
    position: relative;
    text-align: center;
    color: white;
}

#mission h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

#mission p{
    font-family: Arial, Helvetica, sans-serif;
}

#mission div{
    position: absolute;
    left:0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    top:0;
    bottom:0;
    padding: 35vh 50px;
}

#problem {
    background-image: linear-gradient(to bottom right, cadetblue, lightyellow);
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}
#problem p{
    padding: 0 100px;
}

hr {
    width: 20%;
    margin: 0 auto;
    border: 1px solid gray;

}

#mascot {
    background-color: linen;
    overflow: auto;
}

#mascot h2 {
    text-align: center;
    font-family: montserrat;
}

#mascot p{
    font-family: 'Oxygen', sans-serif;
}
#mascot div {
    margin: auto;
    max-width: 800px;
}

#mascot img{
    float: right;
}

#team {
    text-align: center;
}
#team h2{
    font-family: montserrat;
}
.teammember {
    float: left;
    width: 33.33%;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    font-family: montserrat;
}

.teammember img {
    width: 90%;
    border-radius: 50%;
}
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    margin-top: 6px;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}

.grid-item {
    border: 4px solid cadetblue;
    border-radius: 10px;
    text-align: center;
    background-color: lavender;
    height: auto;
}